.ma-content{
    display: flex;
    background-color: #ffffff;
    height: 90%;

}

.ma-content-menu{
    width: 20%;
    height: 100%;
    background-color: #ececea;

}

.ma-content-body{
    width: 80%;
    height: 100%;
}
 

.ma-content-menu{
    padding: 10px;
    box-sizing: border-box;
}

.ma-content-menu li {
  padding: 5px;
}



.ma-menu-item span{
    margin-left: 10px;
    color: #484848;
    font-weight: 700;
    cursor: pointer;
}

.ma-menu-item {
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.ma-menu-item a{
    color: #484848;
}